<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="../imagens/Simbolo_konoha.svg.png">

    <title>Konoha Clientes</title>

    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    {{!-- estilo  --}}
    <link rel="stylesheet" href="../css/style.css">

  </head>
  <body>
    {{{body}}}

  </body>
</html>